@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-white;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-2xl;
  }
}
@layer components {
  .padding-page {
    @apply pt-16 px-5;
  }
  .scrollbar-hidden {
    -ms-overflow-style: none; /* IE 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none; /* WebKit */
  }
  .hover-hidden {
    @apply group-hover:hidden;
  }
  .hover-show {
    @apply group-hover:block;
  }
  .icon-player {
    @apply w-10 h-10 mx-2 p-2 hover:bg-primary rounded-full;
  }
}

.height-sidebar {
  height: calc(100vh - 16px - 72px);
}
.height-sidebar-item {
  height: calc(100% - 32px - 72px);
}
.--panel-gap {
  margin-bottom: 8px;
}
html {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
  display: none; /* WebKit */
}
input[type="range"] {
  accent-color: #ff516d;
}
